body {
  max-width: 100%;
  background-image: linear-gradient(
    to bottom right,
    #39a0db,
    rgb(66, 223, 189)
  );
  background-size: cover;
  background-attachment: fixed;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
#main-container {
  display: flex;
  display: inline-block;
}
#templates-container {
  justify-content: space-between;
  column-gap: 2rem;
  position: absolute;
}
.tabel-img {
  width: 600px;
  height: 410px;
  border-radius: 20px;
  box-shadow: 10px 10px 32px 3px rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 10px 10px 32px 3px rgba(255, 255, 255, 0.65);
  -moz-box-shadow: 10px 10px 32px 3px rgba(255, 255, 255, 0.65);
  cursor: pointer;
}
.tabel-img:hover {
  transform: scale(1.04, 1.04);
  transition: 0.3s transform;
}

table {
  padding: 2vw;
  margin-left: 65px;
  margin-top: 30px;
}
td,
tr {
  padding: 20px;
  width: 250px;
  height: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: #383838;

  /* background-image: linear-gradient(to bottom right, #ffffff, #9e9e9e); */

  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(187, 205, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.active {
  background-color: #707070;
}

.nav {
  margin-left: 5px;
}

/* form */
.form-container {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 8%;
  margin-right: 35%;
  background-color: rgb(48, 48, 48);
  margin-left: 35%;
  color: #03e79c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 11px 10px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 10px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 9px 0px rgba(0, 0, 0, 0.75);
}
.input {
  text-align: center;
  width: 50%;
  height: 20px;
  margin: 7px;
  border-radius: 5px;
  box-shadow: 8px 8px 17px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 8px 17px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 17px -1px rgba(0, 0, 0, 0.75);
}
#descID,
#servID {
  width: 80%;
  height: 50px;
}

#btn {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  background-color: #03e79c;
  color: #000000;
  font-size: large;
  margin-top: 20px;
}
#btn:hover {
  background-color: #00724c;
  color: white;
}
/*caroussel style*/
.slideImg {
  width: 50%;
  max-height: 600px;
  margin-left: 350px;
}
#caroussel-container {
  max-width: 50%;
  margin-top: 30px;
  position: absolute;
  /* margin: auto; */
  margin-left: 500px;
}
.myslide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.presentation {
  width: 570px;
  background-color: #8ddbffa9;
  padding: 0px 15px 10px 20px;
  border-radius: 20px;
  height: 200px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 115px;
  position: relative;
  font-size: large;
  text-align: justify;
}
.title {
  margin-top: 16px;
}

.desc {
  color: rgb(51, 51, 51);
  margin-top: -9px;
}
