body {
  max-width: 100%;
}
#main-container {
  display: flex;
}
#templates-container {
  justify-content: space-between;
  column-gap: 2rem;
  position: absolute;
  display: inline-block;
}
img {
  width: 250px;
  height: 150px;
}
